.card__container{
    position: relative;
    border:  3px solid #3e4357;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    overflow: hidden;
    display: flex;
    margin-top: 10px
}
.card_img{
    min-width: 100%;
    min-height: 100%;
    transition: transform .8s;
}
.card_img:hover{
    transform: scale(1.1);
}